
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewStart</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div> 

    </div>
</body>
</html>
